
li {
	list-style-type: none;
}

em {
	font-style: normal;
}

a {
	color: #3c3c3c;
}

a:focus {
	color: #3c3c3c;
}

.cart-filter-bar .current a{
	color: #f40;
}

.current em {
	font-size: 18px;
	font-weight: 550;
}

.current .number {
	font-size: 16px;
}


.ff-header {
	margin-top: 30px;
}

.cart-layout {
	margin: 0px 200px 0px 200px;
}

.cart-main {
	margin-bottom: 60px;
}

.oderHolder {
	padding: 2px;
	padding-color: #bce8f1;
}

/* 注意：必须设置：{.cart-table-th .cart-checkbox}、{.select-all .cart-checkbox}、{.cart-checkbox}点选框才能有正确的位置  */
.cart-table-th .cart-checkbox {
	height: 50px;
	overflow: hidden;
}

.navbar-none {
	background: #e5e5e5;
}

.float-bar-holder .select-all {
	margin-left: 200px;
}

.float-bar-holder .btn-area {
	margin-right: 200px;
}

.float-bar-wrapper .cart-checkbox {
	height: 50px;
	overflow: hidden;
}

.select-all {
	cursor: pointer;
	float: left;
	line-height: 50px;
	padding-left: 5px;
}

.select-all .cart-checkbox {
	vertical-align: middle;
	margin-top: -2px;
}

.cart-checkbox {
	position: relative;
	display: inline-block;
	width: 15px;
	height: 15px;
}

.panel-body .row {
	border: 1px solid #CCCC;
	background: #fcfcfc;
}

.ff-inner {
	margin-top: 20px;
	margin-bottom: 10px;
}

.ff-inner a{
	font-size: 12px;
}

.ff-inner a:hover {
	color: #0ce1ff;
}

.item-amount a {
	display: block;
	float: left;
	border: 1px solid #e5e5e5;
	width: 20px;
	line-height: 24px;
	background: #e5e5e5;
	text-decoration: none;
	text-align: center;
	vertical-align: center;
	font-size: 18px;
	color:black;
}

.item-amount a:hover {
	color: #0ce1ff;
	border-color: #0ce1ff;
}

.ff-price {
	font-weight: 700;
}

.ff-sum {
	color: #f40;
	font-weight: 700;
}

.ff-amount input {
	width: 50px;
	float: left;
	text-align: center;
}

.checkBoxShop input {
	position: absolute;
	z-index: 0px;
	left: -20px;
	top: -20px;
}

.operations {
	line-height: 50px;
	margin-left: 10px;
}

.floater {
	border: 1px solid #5bc0de;
}

.amount-sum {
	line-height: 30px;
	padding: 10px;
}

.amount-sum em{
	color: #F40;
	font-size: 18px;
	font-weight: 700; 
}

.price-sum {
	line-height: 30px;
	padding: 10px;
	margin-left: 10px;
}

.price-sum .price em {
	color: #F04;
	font-size: 22px;
}

.btn-area {
	margin-left: 10px;
}
